*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.online_button{
    font-weight: 500;
    color: #fff;
}
.carousel-item img{
    height: 88vh !important;
}
.menu_card{
    border-radius: 30px;
}
.menu_card_body{
    border-radius: 0 0 30px 30px;
}